@import '../../Variables.scss';
.layout {
    width: 100%;
    min-width: 395px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    &-body {
        width: 100%;
        height: calc(100vh - 130px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &-texts {
        text-align: center;
        margin-bottom: 20px;
    }
    &-texts > p {
        font-family: $font-family;
        color: $grey-color;
        margin-top: 10px;
    }
}


@media (min-width: 650px) {
    .layout {
        flex-direction: row;
        &-body {
            width: 100%;
            height: calc(100vh - 32px);
            display: flex;
            justify-content: start;
            align-items: flex-start;
        }
        &-texts {
            width: 100%;
            border-bottom: solid 1px $soft-grey-color;
            text-align: start;
            padding-bottom: 16px;
            margin-bottom: 0;
        }
    }
    
}

  